body{
    background-color: white;
    width: 0 auto;
    font-family: Roboto Mono;
    
}

h1{
    font-family: 'Chelsea Market';
    font-weight: 700;
}
p h3{
    font-family: 'Roboto Mono';
    font-weight: 700;
    }
.section1 .section4{
    display: inline-block;
    margin: 10px;
    justify-content: center;
}
.section2 img {
    border-radius: 100%;
    display: inline-block;
    width: 10rem;
    height: 10rem;
}
.Planyourvisit{
    background-color:#FF764E;
    color:white;
    margin: 0 4rem;
    border: .1rem solid lightgray;
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;
    margin-bottom: .2rem;
    display: inline-block;

}
.LearnaboutthePark{
    background-color:#5ED3EB;
    color:white;
    margin: 0 4rem;
    border: .1rem solid lightgray;
    padding: .2rem;
    border-radius: 25px;
    text-decoration: none;
    margin-bottom: .2rem;
    display: inline-block;
}
.GetInvolved{
    background-color:#FFCD69;
    color:white;
    margin: 0 4rem;
    border: .1rem solid lightgray;
    padding: .2rem;
    border-radius: 25px;
    text-align: center;
    margin-bottom: .2rem;
    display:inline;
}
.section2{
display: flex;
}
.info{
display: inline-block;
}
.section3{
    margin: 20px;
    padding: 10px;
    display: inline;

}
.section3 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5rem;
  height: 5rem;
}
/* .section3 p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    height: 5rem;
} */
.detail{
    color:white;
    background-color: #DDB9A3;
    padding: 1rem 2rem;
    margin: 5rem;
    /* height: 50px;
    width: 90px; */
}
.section4 img{
    width: 0 auto;
    height: 100px;
    flex-wrap: wrap;
}
.section5{
    background-color: #F9E7DC;
  
}
a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}